Node-Red/futurehack_flow.json
[{"id":"8d0fc5e4.a99428","type":"http in","z":"670a99d3.b2b788","name":"","url":"pod-0/:status","method":"get","upload":false,"swaggerDoc":"","x":310,"y":120,"wires":[["43f01214.4be79c"]],"outputLabels":["msg"]},{"id":"43f01214.4be79c","type":"debug","z":"670a99d3.b2b788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.params","x":640,"y":120,"wires":[]},{"id":"311e8371.f7fe9c","type":"http in","z":"670a99d3.b2b788","name":"","url":"pod-1/:status","method":"get","upload":false,"swaggerDoc":"","x":310,"y":200,"wires":[["43f01214.4be79c","d6216c2b.ff4ec"]],"outputLabels":["msg"]},{"id":"157bfd25.1d9c53","type":"http in","z":"670a99d3.b2b788","name":"","url":"pod-2/:status","method":"get","upload":false,"swaggerDoc":"","x":310,"y":280,"wires":[["43f01214.4be79c"]],"outputLabels":["msg"]},{"id":"6b2d1fee.c70d9","type":"http in","z":"670a99d3.b2b788","name":"","url":"pod-3/:status","method":"get","upload":false,"swaggerDoc":"","x":310,"y":360,"wires":[["43f01214.4be79c"]],"outputLabels":["msg"]},{"id":"a0bdafbe.697ec","type":"http in","z":"670a99d3.b2b788","name":"","url":"pod-4/:status","method":"get","upload":false,"swaggerDoc":"","x":310,"y":440,"wires":[["6609ef48.7ed33","43f01214.4be79c"]],"outputLabels":["msg.req.params"]},{"id":"1da2e3b2.b0dccc","type":"ui_gauge","z":"670a99d3.b2b788","name":"","group":"43b80f08.794c6","order":0,"width":"4","height":"4","gtype":"donut","title":"Pod 1","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":820,"y":520,"wires":[]},{"id":"6609ef48.7ed33","type":"function","z":"670a99d3.b2b788","name":"","func":"msg.payload = msg.req.params.status;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":520,"wires":[["1da2e3b2.b0dccc","3b91603a.5886"]]},{"id":"3c97808b.ac15a","type":"ui_gauge","z":"670a99d3.b2b788","name":"","group":"43b80f08.794c6","order":0,"width":"4","height":"4","gtype":"donut","title":"Pod 3","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#ff0000","#e6e600","#00b500"],"seg1":"","seg2":"","x":930,"y":200,"wires":[]},{"id":"31806e9.007b692","type":"ui_gauge","z":"670a99d3.b2b788","name":"","group":"43b80f08.794c6","order":0,"width":"4","height":"4","gtype":"donut","title":"Pod 2","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#e6e600","#e6e600","#00b500"],"seg1":"","seg2":"","x":870,"y":340,"wires":[]},{"id":"d6216c2b.ff4ec","type":"ui_gauge","z":"670a99d3.b2b788","name":"","group":"43b80f08.794c6","order":0,"width":"4","height":"4","gtype":"donut","title":"Pod 4","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":280,"wires":[]},{"id":"a3604657.00c498","type":"ui_gauge","z":"670a99d3.b2b788","name":"","group":"43b80f08.794c6","order":0,"width":"4","height":"4","gtype":"donut","title":"Pod 0","label":"","format":"{{msg.payload}}","min":0,"max":"1","colors":["#00b500","#e6e600","#00b500"],"seg1":"","seg2":"","x":930,"y":80,"wires":[]},{"id":"3b91603a.5886","type":"debug","z":"670a99d3.b2b788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":420,"wires":[]},{"id":"4492d494.386dac","type":"inject","z":"670a99d3.b2b788","name":"","topic":"","payload":"0.60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":340,"wires":[["31806e9.007b692","3b91603a.5886"]]},{"id":"cb17dda1.23f7e","type":"inject","z":"670a99d3.b2b788","name":"","topic":"","payload":"0.2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":200,"wires":[["3c97808b.ac15a"]]},{"id":"e1bc9491.09b528","type":"inject","z":"670a99d3.b2b788","name":"","topic":"","payload":"0.8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":80,"wires":[["a3604657.00c498"]]},{"id":"43b80f08.794c6","type":"ui_group","z":"","name":"Sleeping Pods","tab":"78952b34.86e454","disp":true,"width":"15","collapse":false},{"id":"78952b34.86e454","type":"ui_tab","z":"","name":"A Cospace Park","icon":"dashboard"}]